<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': appareilStatus === 'allumer',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- status : {{ getStatus() }}</h4>
  <button class="btn btn-success"
          (click)="onSwitchOn()"
          [disabled]="appareilStatus === 'allumer'">Allumer</button>
  <button class="btn btn-danger"
          (click)="onSwitchOff()"
          [disabled]="appareilStatus === 'éteint'">Eteindre</button>
</li>